*{
  margin:0;
  top:0;
  padding:0;
}
body{
  margin:0;
  top:0;
  background-image: url('/images/RAMCHANDRATEMPLEFINALSUBMISSION3.jpg9241f7f9-ec72-4762-b76b-bf20dc381e90Zoom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

