body{
    margin:0;
    /* background-image: url('/images/RAMCHANDRATEMPLEFINALSUBMISSION3.jpg9241f7f9-ec72-4762-b76b-bf20dc381e90Zoom.jpg'); */
   top:0;
  padding:0;    
  box-sizing: border-box;
  position:relative;
}

  img{
     height: 100vh;
    min-width:100vh;
    /* position:relative; */
    /* display: flex;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
     background-position: center  */
   
  }

 a .nav-link{
    background-color:white;
  }
  