@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
*{
  margin:0;
  top:0;
  padding:0;
}
img{
  height:8vh;
}
body{
  font-family: 'Libre Baskerville', serif;
  list-style-type: none;
  text-decoration: none; }
nav{
  display:flex;
  justify-content:space-around;
  align-items:center;
  min-height: 8vh;
  background-color:aquamarine;
  opacity:0.9;
  width:100%;
}

li{
  list-style-type: none;
  text-decoration: none;
  
}

ul {
  display:flex;
  gap:1rem;
}
a{
  text-decoration: none;
  color:black;
  opacity:1;
  
}



@media screen and (max-width) {
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }  
}