*{
    margin:0;
   padding: 0;
   top:0;
}
body {
    top:0;
    max-width:100%;
    height: 100vh;
    background-image:url('/images/hawa-mahal-6688178.jpg');
    background-repeat:no-repeat; 
    /* background-size: cover; */
    background-size: 100%;
    background-position: center center;
   
  }
h1{
    color:white;
    background-color: none;
}


.heading_hindi{
  top:50vh;
}
section{
    color:white;
    height:85%;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
    position: relative;
  }
  section h3{
    font-size:35px;
    font-weight:bold;
    letter-spacing: 1px;
     text-shadow: 1px 1px 5px black;
  
  }
 .heading h1{
    align-items:center;
 }
  section h1{
    margin:30px 0 20px 0;
   font-size:55px;
   font-weight:700;
   text-shadow: 2px 1px 5px black;
   text-transform:uppercase ;
  
  }
.change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color:  rgb(176, 199, 226); 
  }
  
  @keyframes changetext {
    0% {
      content: "WELCOME";
      color:  rgb(176, 199, 226); 
    }
    16.5% {
      content: "स्वागत";
      color:  #f3c330; 
    }
    33% {
      content: "Bienvenue";
      color:  #be9a2e;
    }
    49.5% {
      content: "Bienvenidas";
      color:  #967512;
    }
    66% {
      content: "Benvenuta";
      color:  rgb(156, 176, 199);
    }

    82.5% {
        content: "Herzlich willko";
       color:  rgb(120, 154, 192); }
      
     100% {
        content: "ברוך הבא";
        color:  rgb(196, 206, 218);
      }
    }
    
  